root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.razor]
# Suppress "Unnecessary using directive" which can be flaky in Razor
dotnet_diagnostic.IDE0005.severity = none
